{% extends "shared/base_publica.html" %}
{% from "shared/macros.html" import input_email, input_password %}
{% block subtitulo %}Entrar{% endblock %}
{% block conteudo %}
<div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <form action="/entrar" method="post" class="w-100">
            {% include "includes/mensagem.html" with context %}
            <div class="card">
                <div class="card-header">
                    <h3>Entrar</h3>
                </div>
                <div class="card-body pb-0">
                    {{ input_email("email", "E-mail", "required autofocus", div_classes="mb-3") }}
                    {{ input_password("senha", "Senha", "required", div_classes="mb-3") }}
                </div>
                <div class="card-footer p-3">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                    <p class="mt-2 mb-0">
                        Ainda não se cadastrou? <a href="/cadastrar" class="text-decoration-none">Clique aqui</a> para se cadastrar agora.
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}