{% extends "shared/base_privada.html" %}
{% block subtitulo %}Detalhes de {{detalhes.nome}}{% endblock %}
{% block conteudo %}
<h1>Detalhes de <span class="text-primary">{{detalhes.nome}}</span></h1>
<hr>
<div class="card">
    <div class="card-header">
        <h2>{{detalhes.nome}}</h2>
    </div>
    <div class="card-body">
        <p class="lead"><b>Telefone:</b> {{detalhes.telefone}}</p>
        <p class="lead"><b>E-mail:</b> {{detalhes.email}}</p>
        <p class="lead mb-0"><b>Data de Nascimento:</b> {{detalhes.data_nascimento}}</p>
    </div>
    <div class="card-footer p-3">
        <a href="/usuario/conversar/{{detalhes.id}}" class="btn btn-primary">Conversar</a>
    </div>
</div>
{% endblock %}