{% extends "shared/base_privada.html" %}
{% from "shared/macros.html" import input_select %}
{% block subtitulo %}Página Inicial do Usuário{% endblock %}
{% block conteudo %}
<h1>Página Inicial do Usuário</h1>
<hr>
<p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi repellat natus distinctio, numquam accusamus labore dolorum culpa dolorem cupiditate qui quia itaque nulla maiores dolores laboriosam provident et dignissimos repellendus sint saepe laborum nihil architecto a nemo! Neque, quasi ut?
</p>
{% endblock %}