{% extends "shared/base_privada.html" %}
{% block subtitulo %}Meus Alunos{% endblock %}
{% block conteudo %}
<h1>Meus Alunos</h1>
<hr>
<div class="row row-cols-4 g-3 mb-3">
    {% for a in alunos %}
    <div class="col">
        <div class="card text-center">
            <div class="card-header">
                <h4>{{a.nome}}</h4>
            </div>
            <div class="card-body">
                {{a.email}} <br>
                {{a.telefone}}
            </div>
            <div class="card-footer">
                <a href="/usuario/{{a.id}}" class="btn btn-primary">Ver Detalhes</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}