<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% set tema_selecionado = request.state.usuario.tema %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if not tema_selecionado or tema_selecionado == "default" %}
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
    {% else %}
    <link rel="stylesheet" href="/static/lib/bootswatch/bootstrap.{{ tema_selecionado }}.min.css">
    {% endif %}
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <title>Projeto Modelo :: {% block subtitulo %}{% endblock %}</title>
</head>

<body class="d-flex flex-column justify-content-center align-items-center min-vh-100">
    {%- set usuario = request.state.usuario -%}
    {%- set is_aluno = True if usuario and usuario.perfil == 1 -%}
    {%- set is_professor = True if usuario and usuario.perfil == 2 -%}
    {%- set is_autenticado = is_aluno or is_professor -%}
    {% include "includes/cabecalho.html" %}
    <main class="container">
        {% include "includes/mensagem.html" with context %}
        {% block conteudo %}{% endblock %}
    </main>
    {% include "includes/rodape.html" %}
    <script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>